<div class="card text-center" id="container">
  <div class="card-header">
    <h1 class="HdrTxt">Welcome to Burger Bites!</h1>
  </div>

<br>
{{!-- ===================     body      ===================== --}}


  <div class="card-body">
    <h2>Please place your order:</h2>
    <form class="create-form">
      <div class="form-group">
        <label for="burg">Burger Name:</label>
        <input type="text" id="burg" name="name">
      </div>
      <button type="submit" id="newBurgBtn">Order</button>
    </form>


    <div class="card-deck">
      
      <div class="card-menu">
        <div class="card-body">
          <h5 class="card-title">For Dine-In</h5>
          <ul>
            {{#each burgers}}
              {{#unless devoured}}
                {{> burgers/burger-block devoured=true}}
              {{/unless}}
            {{/each}}
          </ul>
         </div>
      </div>

      <div class="card-menu">
        <div class="card-body">
          <h5 class="card-title">For Take-Out</h5>
            <ul>
              {{#each burgers}}
                {{#if devoured}}
                  {{> burgers/burger-block devoured=false}}
                {{/if}}
              {{/each}}
            </ul>
        </div>
      </div>

    </div>


{{!-- ==================      footer      =========================== --}}

    <div class="footer">
      Thank you for ordering at Burger Bites. Please come again!
    </div>

  </div>

</div>