#container {
    border: 0px;
    border-radius: 0px;
    font-family: 'Zilla Slab', serif;
    color: whitesmoke;
    min-height: 100vh;
    background-image: url(/assets/img/texture-1506361_1920_edited.jpg);
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card-header {
    background: rgb(206,189,154);
    border: none;
    color:  black;
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 3;
    width: 100%;
    padding: 4% 0%;
}

#HdrDiv {
    font-size: 75%;
    min-width: 100%;
}

.HdrTxt {
    font-size: 5em;
    font-weight: 800;
}

#content {
    margin-top: 17vh;
    margin-bottom: 5vh;
}

#inputBox {
    max-width: 40%;
    margin: 0 auto;
}

#cardsContainer {
    margin: 0 auto;
    margin-top: 4%;
    font-family: 'Patrick Hand SC', cursive;
}
.orderList {
    background-color:rgba(0,0,0,0);
    border: dashed;
    border-radius: 35px;
    border-color: rgba(232,215,185,0.4);
    border-width: 6px;
    width: 500px;
    text-align: center;
}

#in {
    margin: 0 auto;
    margin-bottom: 50px;
}

#out {
    margin: 0 auto;
    margin-bottom: 50px;
}

ul {
    list-style-image: url(/assets/img/burger.png);
    size: 20px;
}

li {
    size: 20px;
}

.eat {
    background-color:  rgb(0,0,0,0);
    border: solid;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.781);
    padding: 10px 20px;
    margin: 0px 0px 10px 10px;
    border-radius: 6px; 
    font-family: 'Zilla Slab', serif;
    font-size: 18.5px;
    color: rgba(128, 128, 128, 0.781);
    transition: 0.2s;
}

.eat:hover {
    background-color:  rgba(232,215,185,0.7);
    border-color:  rgba(0,0,0,0);
    color: black;
    transition: 0.3s;
    font-weight: 1000;
}

.card-footer {
    background:black;
    border: none;
    max-height: 8vh;
    position: fixed;
    width: 100%;
    bottom: 0px;
    z-index: 3;
}

#ftrDiv {
    font-size: 55%;
    min-width: 100%;
}

#ftrTxt {
    font-size: 2em;
    font-weight: 50;
}